<?xml version="1.0"?>
<!-- Open_Manipulator Chain -->
<robot name="open_manipulator" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find open_manipulator_description)/urdf/materials.xacro" />

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find open_manipulator_description)/urdf/open_manipulator.gazebo.xacro" />

  <!-- Import Transmission -->
  <xacro:include filename="$(find open_manipulator_description)/urdf/open_manipulator.transmission.xacro" />

  <!-- Import URDF -->
  <xacro:include filename="$(find open_manipulator_description)/urdf/open_manipulator.urdf.xacro" />


  <material name="LightGrey">
      <color rgba="0.7 0.7 0.7 1.0" />
  </material>


  <!-- World -->
  <link name="world"/>

  <link name="baseplate_link">
  <visual>
    <origin xyz="0.125 0 -0.004" />
    <geometry>
      <box size="0.3 0.3 0.008" />
    </geometry>
    <material name="LightGrey"/>
  </visual>
</link>

<joint name="baseplate_joint" type="fixed">
  <origin xyz="0 0 0" />
  <parent link="world" />
  <child link="baseplate_link" />
</joint>

  <!-- World fixed joint-->
  <joint name="world_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="link1"/>
  </joint>

  <!-- camera -->
  <xacro:include filename="$(find adrucam)/urdf/adrucam.urdf.xacro" />


	<joint name="adrucam_base_joint" type="fixed">
	  <origin xyz="0.063 0.00 0.059" />
	  <parent link="link5" />
	  <child link="adrucam_base_link" />
	</joint>



<!--
<xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
-->
<!-- Realsense Camera Joint Position -->
<!--
<xacro:sensor_d435 parent="link5" use_nominal_extrinsics="true">
  <origin xyz="0.070 0.00 0.052" rpy="0 0 0"/>
</xacro:sensor_d435>
-->

</robot>
